shooter/Saved/Logs/
shooter/Saved/Backup/
shooter/Saved/Config/WorldState/
shooter/Saved/Autosaves/
shooter/shooter.VC.db
shooter/Content/Assets/Maps/Sanctuary_BuiltData.uasset
shooter/DerivedDataCache/Boot.ddc
shooter/Saved/HardwareSurvey/dxdiag.txt
